---
layout: default
title: GitLab CE AWS AMI
suppress_header: true
extra_css:
  - aws.css
extra_js:
  - downloads.js
current_version: GL 7.10.1 CE
regions:
- name: US West (Oregon)
  image: ami-8b3107bb
  id: uw2
- name: US East (N. Virginia)
  image: ami-daa1aeb2
  id: ue
- name: US West (N. California)
  image: ami-473bd703
  id: uw1
- name: EU (Ireland)
  image: ami-7d95fa0a
  id: eui
- name: EU (Frankfurt)
  image: ami-7c2d1261
  id: euf
- name: Asia Pacific (Singapore)
  image: ami-88c1fdda
  id: aps
- name: Asia Pacific (Tokyo)
  image: ami-f87ebdf8
  id: apt
- name: Asia Pacifc (Sydney)
  image: ami-3faed205
  id: apsy
- name: South America (São Paulo)
  image: ami-476de95a
  id: sa
---

<div class="aws-header">
  <h1>GitLab CE AWS AMI</h1>
  <h2>GitLab Community Edition on AWS with our machine image</h2>

  <!-- dropdown button -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown" onClick="_gaq.push(['_trackEvent', 'AWS', 'Region Select', 'Dropdown Open']);">
      Select AWS region <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
    {% for region in page.regions %}
      <li><a href="#{{region.id}}" onClick="_gaq.push(['_trackEvent', 'AWS', 'Region Select', '#{{region.name}}']);">{{region.name}}</a></li>
    {% endfor %}
    </ul>
  </div>
  <!-- / dropdown button -->

  <div id="tabs">
    {% for region in page.regions %}
      <div class="tab" id="{{region.id}}">
        <div class="aws-install">

          <div class="aws-install-step">
            <p>Search for this AMI ({{ page.current_version }}) under Community AMIs</p>
            <p>{{ region.image }}</p>
          </div>

          <div class="aws-install-step">
            <p></p>
          </div>

          <div class="aws-install-step">
            <p>
              Launch a <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/install/requirements.md">c4.large instance</a> with open ports for ssh, http and https.
              <br />
              SSH into the instance with ubuntu@your-instance and run
            </p>
            <p>sudo gitlab-ctl reconfigure</p>
          </div>

          <div class="aws-install-step">
            <p>Visit the public ip in a browser and sign in as an existing user</p>
            <p>username: root <br> password: 5iveL!fe</p>
          </div>

        </div>
        {% include other_download_links.html %}
      </div>
    {% endfor %}
  </div>
</div>
